html {
    background-color: silver;
}

.navbar {
    position: fixed;
    top: 0pt;
    left: 0pt;
    right: 0pt;
    z-index: 999;
}

.navbar ul li {
    display: inline-block;
    list-style: none;
    width: 5%;
    text-align: center;
    padding: 0% 1% 0% 1%;
    z-index: 999;
}

ul {
    list-style-type: none;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color:hsla(0, 0%, 40%, .9);
}

h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2cm;
    padding: 1% 0% 0% 33.5%;
}

table {
    position: fixed;
    table-layout: fixed;
    left: 20%;
    top: 15%;
    border-collapse: collapse;
    background: white;
    color: black;
    height: 16cm;
    width: 25cm;
    background-color: hsla(0, 0%, 40%, .9);
}

th, td { 
    font-weight: bold;
}