html {
    background-color: silver;
}

.navbar {
    position: fixed;
    top: 0pt;
    left: 0pt;
    right: 0pt;
    z-index: 999;
}

.navbar ul li {
    display: inline-block;
    list-style: none;
    width: 5%;
    text-align: center;
    padding: 0% 1% 0% 1%;
    z-index: 999;
}

ul {
    list-style-type: none;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color:hsla(0, 0%, 40%, .9);
}

.main {
    position: fixed;
    width: 10cm;
    height: 8cm;
    padding: 15% 0% 0% 35%;
    text-align: center;
}

.main p {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
